<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.rtl.min.css">
    <link rel="stylesheet" href="/css/estilos.css">
    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
  </head>
    <body>
    <Footer>
        <div class="container__footer">

            <div class="box__footer">
                <div class="logo">
                    <img src="Images/Tecsup.svg" alt="">
                </div>
                <div class="terms">
                <h2>“TECNOLOGÍA Y CULTURA QUE NOS UNE”</h2>
                </div>
            </div>
            <div class="box__footer">
            <h2>Redes Sociales</h2>
            <a href="https://www.facebook.com/tecsup"><i class="fab fa-facebook-square"></i> Facebook</a>
            <a href="https://www.youtube.com/c/TecsupInstituci%C3%B3nEducativa"><i class="fab fa-youtube-square"></i> Twitter</a>
            <a href="https://www.tecsup.edu.pe/"><i class="fa-sharp fa-solid fa-house"></i> Tecsup</a>
            <a href="https://www.instagram.com/vive_tecsup/"><i class="fab fa-instagram-square"></i> Instagram</a>
        </div>
        <div class="box__footer">
            <h2>Mayor Información</h2>
            <a >Sede Centro: Pflores@tecsup.edu.pe</a>
            <a >Sede Norte: Lanticona@tecsup.edu.pe</a>
            <a >Sede Sur: ksalas@tecsup.edu.pe</a>              
        </div>
        </div>
        </div>
        <div class="box__copyright">
            <hr>
            <p>Todos los derechos reservados © 2022 <b>T&C WEEK</b></p>
        </div>
    </Footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>