<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.rtl.min.css">
    <link rel="stylesheet" href="css/estilos.css">
    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
</head>
<body>
    <%- include layouts/header2.ejs %>
    <div class="container__all" id="container_all">
        <div class="cover">
            <div class="container__cover">
                <div class="container__info">
                    <h1>T & C</h1>
                    <h2>WEEK</h2><br><br>
                    <h1>"TECNOLOGÍA</h1>
                    <h2>Y CULTURA</h2>
                    <h1>QUE NOS</h1>
                    <h2>UNE "</h2>
                    <div>
                      <h6 >Programas:</h6>
                      <a class="btn btn-sm btn-outline-secondary text-center" style="margin: 10px;" href="images/PROGRAMASN.png" role="button" download="Programa Sede Norte">•-•-PROGRAMA SEDE NORTE•-•-•</a>
                      <a class="btn btn-sm btn-outline-secondary text-center" style="margin: 10px;" href="images/PROGRAMASC.png" role="button" download="Programa Sede Centro">•-•-PROGRAMA SEDE CENTRO•-•-•</a>
                      <a class="btn btn-sm btn-outline-secondary text-center" style="margin: 10px;" href="images/PROGRAMASS.png" role="button" download="Programa Sede Sur">•-•-PROGRAMA SEDE SUR•-•-•</a>
                    </div>
                </div>
                <div class="container__vector"><br>
                  <video class="video-2" autoplay  loop>
                    <source src="images/Concursos.mp4" type="video/mp4">
                  </video>
                </div>
            </div>
        </div>
        <div class="album py-5 ">
          <div class="container">
            <h1 class="h1_concursos py-3">CONCURSOS</h1><br>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
              <div class="col">
                <div class="card shadow-sm">
                  <img class="svg bd-placeholder-img card-img-top" width="100%"  height="30%" src="images/T&C2.jpg"  role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"></img>      
                  <div class="card-body">
                    <h1 class="h1cardbody">Olimpiadas</h1>
                    <p class="card-text">Promover el deporte y la sana competencia entre los diversos grupos participantes.</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <a class="btn btn-sm btn-outline-dark" href="olimpiada.html" role="button">Informacion</a>
                      </div>
                      <small class="text-danger">Miércoles 26 octubre</small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card shadow-sm">
                  <img class="svg bd-placeholder-img card-img-top" width="100%"  height="30%" src="images/CT.png"  role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"></img>
                  <div class="card-body">
                    <h1 class="h1cardbody">Cortometrajes</h1>
                    <p class="card-text">Incentivar la creatividad y la imaginación a través del lenguaje audiovisual. </p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <a class="btn btn-sm btn-outline-dark" href="cortometraje.html" role="button">Informacion</a>
                      </div>
                      <small class="text-danger">Lunes 24 octubre</small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card shadow-sm">
                  <img class="svg bd-placeholder-img card-img-top" width="100%"  height="210px" src="images/DF.png"  role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"></img>
                  <div class="card-body">
                    <h1 class="h1cardbody">Concurso de Danzas F.</h1>
                    <p class="card-text">Promover e incentivar la práctica de la danza, el trabajo en equipo y la creatividad.</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <a class="btn btn-sm btn-outline-dark" href="concursodedanzas.html" role="button">Informacion</a>
                      </div>
                      <small class=" text-danger">Viernes 28 octubre</small>
                    </div>
                  </div>
                </div>
              </div>     
              <div class="col">
                <div class="card shadow-sm">
                  <img class="svg bd-placeholder-img card-img-top" width="100%"  height="30%"src="images/T&C2.jpg"  role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"></img>
                  <div class="card-body">
                    <h1 class="h1cardbody">Videojuegos</h1>
                    <p class="card-text">Incentivar la práctica de videojuegos como un medio para mejorar nuestras capacidades cognitivas y habilidades.</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <a class="btn btn-sm btn-outline-dark" href="videojuegos.html" role="button">Informacion</a>
                      </div>
                      <small class="text-danger">FINAL: Jueves 27 octubre</small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card shadow-sm">
                  <img class="svg bd-placeholder-img card-img-top" width="100%" height="100%" src="images/KD.png"  role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"></img>
                  <div class="card-body">
                    <h1 class="h1cardbody">Karaduo</h1>
                    <p class="card-text">Concurso de canto que promueve el desarrollo y conocimiento del idioma inglés y las habilidades musicales.</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div>
                        <a class="btn btn-sm btn-outline-dark" href="karaduo.html" role="button">Informacion</a>
                      </div>
                      <small class="text-danger">Jueves 27 octubre</small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card shadow-sm">
                  <img class="svg bd-placeholder-img card-img-top" width="100%"  height="30%" src="images/MC.png"  role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"></img>
      
                  <div class="card-body">
                    <h1 class="h1cardbody">Mi Carrera Enamora</h1>
                    <p class="card-text">Difundir e incentivar la creatividad y la innovación a través del desarrollo de proyectos con proyección social.</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <a class="btn btn-sm btn-outline-dark" href="micarreraenamora.html" role="button">Informacion</a>
                      </div>
                      <small class=" text-danger">Martes 25 octubre</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>   
        <%- include layouts/footer.ejs %>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
<script src="js/script.js"></script>
</body>
</html>